<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>{{ title }} :: {{ user }} Git</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		{{~> page}}
	</body>
</html>
